@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: oklch(0.257 0.09 281.288); /*indigo-950*/
  --color-primary-light: #4a69bd; /* #4a69bd | #6a89cc*/
  --color-secondary: oklch(0.712 0.194 13.428); /*rose-400*/ 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
    @apply border border-secondary px-3 bg-primary text-secondary rounded-sm cursor-pointer hover:text-primary hover:bg-secondary;
}

::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
* {
  scrollbar-width: none;
}

.bg-main{
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-partner1{
  background-image: linear-gradient(45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
}

.bg-partner2{
  background-image: linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
  background-color: #726193;
}

.bg-partner3{
  background-image: linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
  background-color: #e37b7c;
}

.bg-partner4{
  background-image: linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
  background-color: #353865;
}

.custom-marker {
  position: relative;
  /* display: inline-block; */
  width: 46px;
  height: 46px;
  /* background: #1b134f;  */
  border-radius: 50%;
  /* border: 2px solid #1b134f; */
}

.custom-marker img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #1b134f;
  background: #1b134f;
}

/* Triángulo */
.custom-marker::after {
  content: "";
  position: absolute;
  bottom: -19px;
  right: -11px;
  transform: rotate(-30deg);
  width: 0;
  height: 0;
  border-left: 21px solid transparent;
  border-right: 20px solid transparent;
  border-top: 35px solid #1b134f; /* color del triángulo */
  z-index: -2;
}

.custom-marker::before {
  content: "";
  position: absolute;
  bottom: -17px;
  right: -10px;
  transform: rotate(-30deg);
  width: 0;
  height: 0;
  border-left: 21px solid transparent;
  border-right: 20px solid transparent;
  border-top: 35px solid #ff637e;
  z-index: -1;
}

